/*--------------------------------------------------Global CSS-----------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html, body{
    font-size: 15px;
    color: #555;    
    scroll-behavior: smooth;
}
h1{
    font-size: 36px;
    font-weight: 700;
}
h2{
    font-size: 24px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.rating .fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #ff523b;
}

/*--------------------------------------------------Global CSS End-----------------------------------------------------*/

/*--------------------------------------------------Top Header-----------------------------------------------------*/
.main-header{
    display: block;
}
.main-header a{
    color: #555;
}
.main-header a:hover{
    color: #FF4135;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bcbcbc;
}
.top-left{
    display: inline-flex;
}
.top-left ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}
.top-left .fa{
    margin-right: 8px;
}
.top-right{
    display: inline-flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.top-right ul{    
    list-style-type: none;
}
.top-right ul li{
    display: inline-block;
    margin: 0px 10px;
}
.vl{
    border-right: 0.5px solid #bcbcbc;
    height: 24px;
    margin: 0px 20px 0 10px;
}
.header-top .lang:hover .lang-list,
.header-top .currency:hover .currency-list{
    transition: all 500ms ease;
    opacity: 1;
    top: 43px;
    display: block;
}
.header-top span img{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
}
.header-top .lang{
    position: relative;
    vertical-align: middle;
    text-align: left;
    padding: 10px 0;    
    cursor: pointer;
}
.header-top .lang-list{
    position: absolute;
    width: 110px;
    font-size: 15px;
    color: #555;
    background: #fff;
    top: 0px; 
    text-align: left;
    display: none;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);  
    z-index: 1;
}
.header-top .lang-list ul{
    display: block;
}
.header-top .lang-list ul li{
    border-bottom: 0.5px solid #bcbcbc;
    padding: 7px 7px;
    width: 100%;
    text-align: left;
    margin: 0;
}
.header-top .currency{
    position: relative;
    vertical-align: middle;
    text-align: left;
    padding: 10px 0;
    margin-left: 25px;    
    cursor: pointer;
}
.header-top .currency-list{
    position: absolute;
    background: #fff;
    width: 110px;
    font-size: 15px;
    color: #555;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    top: 0px; 
    text-align: left;
    display: none;
    z-index: 1;
}
.header-top .currency-list ul{
    display: block;
}
.header-top .currency-list ul li{
    border-bottom: 0.5px solid #bcbcbc;
    padding: 7px 7px;
    width: 100%;
    text-align: left;
    margin: 0;
}
.header-top .top-right .last-list{
    border-bottom: none;
}

/*--------------------------------------------------Top Header End-----------------------------------------------------*/


/*--------------------------------------------------Bottom Header-----------------------------------------------------*/
.header-btm{
    position: relative;
    max-width: 1300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo, a.logo{
    font: 38px 'Noto Sans SC', sans-serif;
    color: #FF4135;
}
.logo span{
    color: #222;
}
.center-nav{
    text-align: center;
    padding: 30px 0;
}
.center-nav .nav-links{   
    list-style-type: none;
    display: inline-flex;
}

.center-nav .nav-links li a{
    padding: 30px 20px;   
    letter-spacing: 1px;
    text-align: center;        
    font-weight: 500;
}

.center-nav .nav-links .drop-menu li{
    display: block;
}
.center-nav .nav-links .mega-menu li{
    display: block;
}
.header-icon{
    text-align: right;
}
.header-icon ul li{
    list-style-type: none;
    display: inline-flex;
    margin-left: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.header-icon .fa{
    font-size: 25px;
}

.nav-links li a{
    color: #555;
    text-decoration: none;
}
.nav-links li a:hover{
    color: #FF4135;
}

.nav-links .drop-menu{
    position: absolute;
    left: inherit;
    top: 100px;
    opacity: 0.9;
    visibility: hidden;
    z-index: 555;
}
.nav-links .drop-menu ul{
    background: #fff;
    font-size: 15px;
    color: #555;
    width: 200px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    list-style-type: none;
    padding: 0;
}
.nav-links .drop-menu ul li{    
    border-bottom: 0.5px solid #bcbcbc;
    width: 100%;
    padding: 15px 0;
    text-align: left;
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-menu{
    transition: all 500ms ease;
    opacity: 1;
    top: 82px;
    visibility: visible;
}
.center-nav .nav-links li.last-list{
    border-bottom: none;
}

.mega-menu{
    position: absolute; 
    top: 0;
    background: #fff;
    width: 100%;
    left: 0;
    opacity: 0.9;
    visibility: hidden;    
    top: 100px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    z-index: 555;
    padding-bottom: 30px;
}
.mega-menu .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin: 15px 0;
}
.mega-menu .row .col{
    flex-basis: 25%;
    padding: 0 20px;
    line-height: 45px;
}
.mega-menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.mega-menu ul li{
    border-bottom: 0.5px solid #bcbcbc;
}
.mega-menu img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#burgerBtn{
    font-size: 40px;
    display: none;
}

/*--------------------------------------------------Bottom Header End-----------------------------------------------------*/


/*----------------------------------------Sticky Header-----------------------------*/
#sticky-header{
    position: fixed;
    background: #fff;
    left: 0px;
    top: -100px;
    text-align: center;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    width: 100%;
    z-index: 999;
    opacity: 0;
    transition: top 1s ease;
    animation-name: fadeInDown;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

#sticky-header .content{
    display: flex;    
    position: relative;
    height: 82px;
    align-items: center;
    justify-content: space-between;
}
#sticky-header .menu .nav-links{
    display: flex;    
    list-style-type: none; 
}
#sticky-header .menu .nav-links .main-menu a{
    padding: 31px 30px;
    font-weight: 500;
}
#sticky-header .menu .nav-links .main-menu:hover a{
    color: #fff;
    background-color: #ff523b;
}
#sticky-header .menu .nav-links .main-menu .drop-menu ul li a, #sticky-header .menu .nav-links .main-menu .mega-menu ul li a{
    background: none;
    color: #555;
}
#sticky-header .menu .nav-links .main-menu .drop-menu ul li a:hover, #sticky-header .menu .nav-links .main-menu .mega-menu ul li a:hover{
    color: #FF4135;
}
#sticky-header .menu .nav-links li.current a{
    color: #fff;
    background-color: #ff523b;
}

/*----------------------------------------Sticky Header End-----------------------------*/

/*----------------------------------------Mobile Menu-----------------------------*/
#mobileMenu{
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    z-index: 999999;
    transition: 0.5s ease;
}

#mobileMenu #menuBkgrnd{
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: #ff4135;
    z-index: 1;
    transition: 0.5s ease;
}
#mobileMenu #menuBox{
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background: #202020;
    padding: 0px 0px;
    opacity: 1;
    overflow: scroll;
    visibility: visible;
    z-index: 5;
}
#closeBtn{
    position: relative;
    right: 0px;
    top: 0px;
    padding: 15px 15px 0px 15px;
    border: none;
    text-align: right;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
}
.menu-logo{
    position: relative;
    padding: 0px 25px 90px 25px;
    text-align: left;
}
#mobileMenu .menu ul{
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.10);
}
#mobileMenu .menu ul li.primary-menu{
    position: relative;
    display: block;
    border-top: 1px solid rgba(255,255,255,0.10);
    align-items: center;
    justify-content: space-between;
    border-left: 10px solid #202020;
}
#mobileMenu .menu ul li ul{
    position: block;
    top: 0;
}
#mobileMenu .menu ul li a{
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}
.active, #mobileMenu .menu ul li.primary-menu:hover{
    border-left-color: #fff;
  }
#mobileMenu .collapsible{
    position: absolute;
    right: 6px;
    top: 6px;
    width: 47px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
}
#mobileMenu ul.sub-menu{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-bottom: none;
}
#mobileMenu ul.sub-menu li{
    position: relative;
    display: block;
    border-top: 1px solid rgba(255,255,255,0.10);
    align-items: center;
}
#mobileMenu .collapsible:after{
    content: '\002B';
    color: white;
    font-weight: bold;
    text-align: right;
}
#mobileMenu .active:after{
    content: "\2212";
  }
.contact-info{
    position: relative;
    padding: 70px 30px 20px 30px;
    color: #fff;
    
}
.contact-info h4{
    font-size: 18px;
    line-height: 70px;
}
.contact-info p{
    font-size: 15px;
    line-height: 25px;
}
.mobile-icon{
    position: relative;
    width: 100%;
    padding: 30px 25px;
}

.mobile-icon ul li{
    display: inline-flex;
    padding-right: 25px;
}
.mobile-icon ul li a{
    color: #fff;
    font-size: 20px;
}
/*----------------------------------------Mobile Menu End-----------------------------*/

/*----------------------------------------User Login Start-----------------------------*/
#reg-login{
    position: fixed;
    margin: auto;
    width: 100%;
    z-index: 11;
    text-align: center;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background-color: #ff413590;
}
#reg-login .form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
}
#reg-login .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
#reg-login .form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
#reg-login .form-container form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
#reg-login .form-container form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
#reg-login .form-container form a {
    font-size: 12px;
    text-decoration: none;
    color: #555;
}
#reg-login .form-btn {
    display: inline-block;
}
#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
#LoginForm {
    left: -300px;
}
#RegForm {
    left: 0;
}

/*----------------------------------------User Login End-----------------------------*/

/*---------------------------------------Search Fullscreen Start ---------------------------*/
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    background-color: #ff413590;
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
    outline: none;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }
/*---------------------------------------Search Fullscreen End ---------------------------*/

/*-----------------------------------------Breadcrumb Start-----------------------------*/
.breadcrumb .row ul{
    padding: 8px 0;
    margin: 20px 0 50px 0;
}
.breadcrumb .row ul li{
    display: inline-block;
    font-size: 14px;
    color: #555;
}
.breadcrumb ul>li+li:before{
    padding: 0 5px;
    color: #555;
    content: "/\00a0";
}
.breadcrumb .row ul li a{
    text-decoration: none;
    outline: none;
    color: inherit;
}
.breadcrumb ul li.active{
    color: #ff4135;
}
/*-----------------------------------------Breadcrumb End-----------------------------*/

/*--------------------------------------------------Header Banner-----------------------------------------------------*/
.head-banner {    
    position: relative;
    background: radial-gradient(#fff,#ffd6d6); 
}
.shape{
    background-image: url("images/arc-shape.png");
    position: absolute;
    right: 380px;
    height: 349px;
    width: 600px;
    bottom: 0;
    background-repeat: no-repeat; 
}
.head-banner .row{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-top: 20px;
    height: 711px;
    align-items: flex-end;
    justify-content: space-around;  
}
.head-banner .left-col{
    flex-basis: 40%;
    min-width: 300px;
    color: #222;
    margin: auto;
    z-index: 5;
}
.head-banner h1, .head-banner span, .head-banner h4{
    font-size: 64px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
    animation-duration: 1500ms;
}
.head-banner span{
    color: #FF4135;
}
.head-banner h4{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 3px;
}
.head-banner p{
    padding: 30px 0;
    font-size: 18px;
    line-height: 30px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
    }
.head-banner a{
    text-decoration: none;
}
.head-banner .right-col{
    flex-basis: 60%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    
}
.head-banner .right-col img{
    max-width: 100%;
    height: auto;
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}

.owl-nav{
    position: absolute;
}
.owl-dots{
    position: absolute;
    left: 0px;
    bottom: 20px;
    width: 100%;
}

/*--------------------------------------------------Header Banner Animation-----------------------------------------------------*/
.head-banner .owl-item.active h1{
    animation: fadeInDown ease 1s;
}
.head-banner .owl-item.active h4, .head-banner .owl-item.active p{
    animation: fadeInRight ease 1s;
}
.head-banner .owl-item.active a, .head-banner .owl-item.active img{
    animation: fadeInUp ease 1s;
}

/*--------------------------------------------------Header Banner End-----------------------------------------------------*/

/*--------------------------------------------------Homepage Category-----------------------------------------------------*/
.hm-category{
    padding: 50px 0;
}
.hm-category .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hm-category .col-3{
    display: flex;
    flex-basis: 32%;
    min-width: 300px;
    background-color: #f5f5f5;
    padding: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.5s;
}
.hm-category .col-3:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 25%);
}

.hm-category .left-col img{
    width: 140px;
}
.hm-category .right-col{    
    padding-left: 20px;
}
p.price{
    padding-top: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #FF4135;
}
/*--------------------------------------------------Homepage Category End-----------------------------------------------------*/

/*--------------------------------------------------Deal of the Week-----------------------------------------------------*/
.deal-week .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.deal-week .col-2{
    display: block;
    flex-basis: 50%;
    margin: auto;
    text-align: center;
    padding: 15px;
}
.deal-week .col-2 img{
    max-width: 80%;
    min-width: 200px;
}
.deal-week .col-2 p{
    margin-bottom: 25px;
}
.deal-week .col-2 h4{
    position: relative;
    font-size: 28px;
    margin-bottom: 32px;
}
.deal-week .col-2 h4:after{
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    height: 3px;
    width: 15%;
    display: block;
    margin: 0 auto;
    background: #ff523b;
}
.launch-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.counter-box{
    background-color: #555;
    box-sizing: border-box;
    width: 60px;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.launch-time .counter-box p.counter{
    color: #fbff3b;
    font-size: 32px;
    margin: 0;
    line-height: 30px;
}
.counter-box span{
    color: #fff;
}

/*--------------------------------------------------New Arrivals-----------------------------------------------------*/
.new-arrivals .row-1{
    display: flex;
    padding: 50px 0;
}
.title{
    width: 100%;
    text-align: center;
}
.new-arrivals h1{
    display: inline-block;
    margin-bottom: 0;
    padding: 0 15px;
    flex: 0 0 100%;
    position: relative;
}
.new-arrivals h1:before{
    content: "";
    background: #ff523b;
    position: absolute;
    right: 100%;
    top: 25px;
    height: 3px;
    width: 60px;
}
.new-arrivals h1:after{
    content: "";
    background: #ff523b;
    position: absolute;
    left: 100%;
    top: 25px;
    height: 3px;
    width: 60px;
}
.new-arrivals .col-4{
    flex-basis: 25%;
    padding: 20px;
    min-width: 300px;
    margin-bottom: 50px;
    transition: 0.5s ease;
}
.new-arrivals .col-4:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 25%);
}
.new-arrivals .row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.new-arrivals .col-4 .prod-img{
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}
.prod-img a{
    color: #fff;
    text-decoration: none;
}
.new-arrivals .row-2 .col-4 img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.new-arrivals .prod-img:hover .prod-details-btn{
    bottom: 0;
    visibility: visible;
    opacity: 1;
}
.prod-details-btn{
    position: absolute;
    bottom: -70px;
    text-align: center;
    width: 100%;
    background: #2d3031;
    padding: 10px 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}
.prod-details-btn:hover{
    background: #ff523b;
    transition: 0.5s ease;
}
.new-arrivals .prod-lower-info{
    display: flex;
}
.new-arrivals .prod-lower-info .left-col{
    flex-basis: 50%;
}
.new-arrivals .prod-lower-info .right-col{
    flex-basis: 50%;
    text-align: right;
    font-size: 20px;
    vertical-align: bottom;
}

/*--------------------------------------------------New Arrivals End-----------------------------------------------------*/

/*--------------------------------------------------Small Banner-----------------------------------------------------*/
.sml-banner{
    padding: 50px 0;
}
.sml-banner .row{
    display: flex;
    flex-wrap: wrap;
    background-image: url("images/nike-green.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    outline: 1px solid #fff;
    outline-offset: -15px;
}  
.sml-banner .left-col h2{
    font-weight: bold;
    color: #222;
}

/*--------------------------------------------------Small Banner End-----------------------------------------------------*/

/*--------------------------------------------------  Promo  -----------------------------------------------------*/
.promo{
    padding: 50px 0;
}
.promo .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.promo .col-3{
    display: flex;
    flex-basis: 32%;
    background-color: #f5f5f5;
    padding: 15px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center
}
.promo .col-3:hover .left-col{
    background: #222;
}
.promo .left-col{
    background: #ff523b;
    float: left;
    min-height: 60px;
    min-width: 60px;
    border-radius: 10%;
}

.promo .left-col img{
    max-width: 100%;
}
.promo .right-col{
    padding-left: 20px;
}

/*--------------------------------------------------  Promo End-----------------------------------------------------*/

/*--------------------------------------------------  Brands  -----------------------------------------------------*/
.brands{
    padding: 50px 0;
}
.brands .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
}
.brands .col-5{
    width: 160px;
    padding: 10px;
}
.col-5 img:hover{
    filter: grayscale(0);
    opacity: 100%;
}
.brands img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    opacity: 50%;
}

/*--------------------------------------------------  Brands End  -----------------------------------------------------*/

/*----------------------------------------Footer-----------------------------------------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 50px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
min-width: 250px;
margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 div{
    text-align: center;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*----------------------------------------Footer End-----------------------------------------*/

/*--------------------Scroll Button------------------------------*/
#scroll-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 15px;
    font-size: 30px;
    z-index: 99;
    color: #fff;
    background-color: #ff523b;
    border: none;
    border-radius: 50%;
    vertical-align: center;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: 1s ease;
}
#scroll-top a{
    text-decoration: none;
    color: #fff;
}

/*--------------------Scroll Button End------------------------------*/

/*---------------------------------------Single Product Start----------------------------*/
.single-prod .row{
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single-prod .row .left-col{
    padding: 20px;
    flex-basis: 50%;
    min-width: 300px;
}
.single-prod .row .right-col{
    padding: 20px;
    flex-basis: 50%;
    min-width: 300px;
}
.single-prod img{
    max-width: 100%
}
.single-prod .small-img-row {
    display: flex;
    justify-content: space-between;
}
.single-prod .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
.single-prod .rating{
    padding: 25px 0;
}
.single-prod .rating ul li{
    display: inline-block;
}
.single-prod .rating ul>li+li:before{
    content: '|\00a0';
}
.single-prod .row .right-col h2{
    color: #ff4135;
    font-size: 36px;
    font-weight: 400;
}
.single-prod .order-form{
    margin-top: 20px;
}
.single-prod .row-size{
    margin-bottom: 20px;
}
.single-prod .row-color{
    margin-bottom: 20px;
}
.single-prod .row-qty{
    margin-bottom: 20px;
}
.single-prod select{
    position: relative;
    width: 100%;
    border-color: #555;
    padding: 8px;
    outline: none;
}

.single-prod .order-form .row-size, .single-prod .order-form .row-color, .single-prod .order-form .row-qty{
    display: flex;
    flex-wrap: wrap;
}
.single-prod .order-form .left-col-size, .single-prod .order-form .left-col-color, .single-prod .order-form .left-col-qty{
    flex: 10%;
    align-self: center;
    min-width: 50px;
}
.single-prod .order-form .right-col-size, .single-prod .order-form .right-col-color, .single-prod .order-form .right-col-qty{
    flex: 90%;
}

.right-col-qty{
    display: flex;
}
input.input-qty{
    max-width: 30px;
    text-align: center;
    padding: 8px;
    background: none;
    border: 1px solid #555;
    border-left: none;
    border-right: none;
    outline: none;
}
button.minus-item{
    padding: 8px;
    background: none;
    border: 1px solid #555;
    border-right: none;
}
button.plus-item{
    padding: 8px;
    background: none;
    border: 1px solid #555;
    border-left: none;
}

/*---------------------------------------Single Product End----------------------------*/

/*---------------------------------------Product Tab Start---------------------------------------------*/
.product-tab .tab-container{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0px 20px rgb(0 0 0 / 10%);
    padding: 30px;
    margin: 90px 0 75px 0;
}
.product-tab .tab-bar{
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 25px;
    padding: 0px;
}
.product-tab .tab-name{
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    margin-bottom: -1px;
    cursor: pointer;
}
.product-tab .active-red{
    border-bottom: 1px solid #ff4135;
    color: #ff4135;
}
.customer-review{
    display: flex;
    padding-bottom: 25px;
    margin-top: 25px;
    border-bottom: 1px solid #bcbcbc;
}
.review-content, .customer-pic{
    padding: 10px;
}

.your-rating li{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin: 25px 5px;
}
#reviewForm .field{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#reviewForm textarea{
    width: 100%;
    height: 200px;
    padding: 15px;
    outline: none;
}
#reviewForm .textarea-field{
    flex-basis: 100%;
    margin-bottom: 25px;
}
#reviewForm .input-field{
    min-width: 200px;
    margin-bottom: 32px;
    flex-basis: 48%;
}
#reviewForm input{
    width: 100%;
    height: 33px;
    padding: 15px;
    outline: none;
}
/*---------------------------------------Product Tab End---------------------------------------------*/

/*---------------------------------------Contact Us Start---------------------------------------------*/
.contactus{
    margin: 90px 0;
}
.contactus .row{
    display: flex;
    flex-wrap: wrap;
}
.contactus .row h3{
    font-size: 18px;
    color: 222;
}
.contactus .row h3:after{
    content: '';
    height: 3px;
    width: 49px;
    display: block;
    margin-top: 12px;
    background: #ff523b;
}
.contactus .left-col{
    flex-basis: 66.66%;
    width: 100%;
    padding: 0 15px;
}
.contactus .right-col{
    flex-basis: 33.33%;
    width: 100%;
    padding: 0 15px;
}
#contactForm{
    margin-top: 42px;
}
#contactForm .field{
    margin-right: -15px;
    margin-left: -15px;
}
#contactForm .input-field{
    width: 50%;
    padding: 0 15px;
    float: left;
    margin-bottom: 32px;
}
#contactForm .textarea-field{
    padding: 0 15px;
    width: 100%;
}
#contactForm input{
    width: 100%;
    height: 33px;
    padding: 15px;
    outline: none;
}
#contactForm textarea{
    width: 100%;
    height: 200px;
    padding: 15px;
    outline: none;
}
.office-info{
    margin-top: 30px;
}
.address-info{
    display: flex;
    margin-top: 42px;
}
.contactus .info-container .fa{
    font-size: 30px;
    padding-right: 15px;
    color: #ff523b;
    vertical-align: top;
}
.justify-center{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.justify-center .newsletter-input{
    position: relative;
    flex-basis: 40%;
    margin-top: 37px;
}

.subscribe-field input{
    width: 506px;
    padding: 8px 10px;
    border: 1px solid #555;
    border-radius: 30px;
    outline: none;
}
.subscribe-form .subscribe-field button{
    position: absolute;
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    top: 0;
    right: 0;
    transition: background 0.5s;
    border: 1px solid #ff523b;
}
.subscribe-form .subscribe-field button:hover{
    background: #563434;
    border: 1px solid #563434;
}
/*---------------------------------------Contact Us End-----------------------------------------------*/

/*---------------------------------------Shop Start-----------------------------------------------*/

.shop .container .row{
    width: 100%;
    display: table;
}
.shop .left-col{
    float: left;
    width: 25%;
    min-width: 170px;
    padding: 0 15px;
}
.shop .search-bar{
    position: relative;
    margin: 20px 0 46px 0;
}
.shop .search-bar input{
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid #555;
}
.search-icon img{
    position: absolute;
    right: 15px;
    top: 7px;
    width: 22px;
    cursor: pointer;
}
.sidebar-categories{
    margin-bottom: 46px;
}
.shop .row h3:after{
    content: '';
    height: 3px;
    width: 49px;
    display: block;
    margin-top: 12px;
    background: #ff523b;
}
.shop .right-col{
    float: left;
    width: 75%;
    padding: 0 15px;
}
.shop .category-list{
    margin-top: 20px;
}
.shop .category-list ul {
    position: relative;
    display: block;
    width: 100%;
}
.shop .category-list .main-category-link{
    border-bottom: 1px solid #bcbcbc;
}
.shop .category-list ul li.main-category {
    position: relative;
    display: block;
    align-items: center;
    justify-content: space-between;
}

.shop li.main-category a{
    display: block;
    position: relative;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 600;
    color: #555;
    cursor: pointer;
}
.shop li.main-category a i{
    color: #ff523b;
    float: right;
    font-size: 12px;
    font-size: 12px;
    margin-top: 6px;
}

.shop .category-list ul li ul{
    position: block;
    top: 0;
}
.shop div.content{
    display: none;
    padding: 20px 0;
    overflow: hidden;
}

.shop ul.sub-category li {
    position: relative;
    display: block;
    align-items: center;
}
.shop ul.sub-category li a{
    font-weight: 400;
    padding: 0;
    line-height: 30px;
}
.shop .rightside-container{
    display: block;
}
.shop .rightside-container .shop-grid-control{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
select.sort-by{
    width: 150px;
    padding: 8px;
    outline: none;
    border: 1px solid #555;
    margin: 20px 10px;
}
.grid-control-right{
    display: inline-flex;
    align-items: center;
    justify-content: normal;
}
.grid-control-left{
    display: flex;
    align-items: center;
}
.button-container{
    display: flex;
    justify-content: center;
}
.grid-control-right .fa{
    font-size: 30px;
    margin-left: 10px;
}
.view-button{
    cursor: pointer;
    color: #bcbcbc;
}
.view-button:hover{
    color: #ff523b;
}
.view-button.active{
    color: #ff523b;
}
.grid-view .col-4{
    padding: 0;
    min-width: 200px;
    margin: 0;
    display: table-caption;
}
.grid-view .grid-content{
    display: block;
    max-width: 200px;
    margin: 15px 0 40px 0;
}
.grid-view .product-wrap .prod-img{
    margin: 0;
}
.grid-view .list_content{
    display: none;
}
.list-view .grid-content{
    display: none;
}
.list-view .product-wrap{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 20px 0;
}
.list-view .col-4{
    padding: 15px;
    min-width: 280px;
    margin: 0;
}
.list-view .col-4 .prod-img{
    margin-bottom: 0;
}
.list-view .list_content{
    margin-left: 15px;
}
.list-view h4, .list-view p{
    margin-bottom: 20px;
}
.list-view p.price{
    margin-top: 20px;
    margin-bottom: 0;
}
.list-view .list_content ul li{
    display: inline;
}
.list-view .list_content ul li+li::before{
    content: '|\00a0';
}
.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px 0;
  }
  
  .pagination a {
    color: white;
    background: #d9d9d9;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 4px 2px;
  }
  
  .pagination a.active {
    background-color: #ff523b;
    color: white;
    border: 1px solid #ff523b;
  }
  
  .pagination a:hover:not(.active) {background-color: #ff523b;}

/*---------------------------------------Shop End-----------------------------------------------*/



/*----------------------------------------MEDIA QUERY--------------------------------------------------*/

@media only screen and (max-width: 974px)
{
    .container{
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }
}


/*--------------------media query for Top Header------------------------------*/
@media only screen and (max-width: 974px)
{
    .header-top{
        display: block;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding-top: 12px;
    }
    .center-nav{
        display: none;
    }
}
/*--------------------media query for Top Header End------------------------------*/

/*--------------------media query for Bottom Header------------------------------*/
@media only screen and (max-width: 974px)
{
    #burgerBtn{
        display: block;
        cursor: pointer;
    }
    
}

@media only screen and (max-width: 499px)
{
    .logo{
        width: 100%;
        text-align: center;
    }
}
/*--------------------media query for Bottom Header End------------------------------*/

/*--------------------media query for Sticky Header------------------------------*/
@media only screen and (max-width: 974px)
{
    #sticky-header{
        display: none;
    }
    
}
/*--------------------media query for Sticky Header End------------------------------*/

/*--------------------media query for Header Banner------------------------------*/
@media only screen and (max-width: 499px)
{
    .head-banner .left-col{
        text-align: center;
    }

}
@media only screen and (max-width: 800px)
{
    .head-banner .right-col{
        display: none;
    }
}
/*--------------------media query for Header Banner End------------------------------*/

/*------------------------------------------media query for Homepage Category-----------------------------------------*/
@media only screen and (max-width: 820px)
{
    .hm-category .row{
        display: block;
    }
    .hm-category .col-3{
        justify-content: normal;
    }
    
}

@media only screen and (max-width: 360px)
{
    .hm-category .col-3{
        display: block;
        min-width: 200px;
    }
    .hm-category .col-3 .left-col, .hm-category .col-3 .right-col{
        text-align: center;
        padding: 0;
    }
}
/*------------------------------------------media query for Homepage Category End-----------------------------------------*/

/*--------------------------------------------------media query for New Arrivals-----------------------------------------------------*/
@media only screen and (max-width: 540px)
{
    .new-arrivals h1:after, .new-arrivals h1:before{
        display: none;
    }
}
/*--------------------------------------------------media query for New Arrivals End-----------------------------------------------------*/

/*--------------------------------------------------media query for Small Banner  -----------------------------------------------------*/
@media only screen and (max-width: 780px)
{
    .sml-banner .row{
        background-image: none;
        justify-content: center;
        background: radial-gradient(#fff,#ffd6d6);
    }
}

/*--------------------------------------------------media query for Small Banner  -----------------------------------------------------*/

/*--------------------------------------------------media query for Promo  -----------------------------------------------------*/
@media only screen and (max-width: 820px)
{
    .promo .row{
        display: block;
    }
    .promo .col-3{
        justify-content: normal;
    }
}
/*--------------------------------------------------media query for Promo End -----------------------------------------------------*/

/*--------------------------------------------------media query for Contact Us Form  -----------------------------------------------------*/
@media only screen and (max-width: 800px)
{
    .contactus .row{
        display: block;
    }
    .subscribe-field{
        text-align: center;
    }
}
@media only screen and (max-width: 450px)
{
    #contactForm .input-field, #contactForm .textarea-field {
        padding: 0 5px;
    }
}

/*--------------------------------------------------media query for Contact Us End  -----------------------------------------------------*/

/*--------------------------------------------------media query for Newsletter Subscribe  -----------------------------------------------------*/
@media only screen and (max-width: 540px)
{
    .justify-center .newsletter-input {
        flex-basis: 80%;
    }
    .subscribe-field input{
        width: 100%;
    }
    .subscribe-form .subscribe-field button{
        position: inherit;
        margin-top: 30px;
    }
    
}

/*--------------------------------------------------media query for Newsletter Subscribe End -----------------------------------------------------*/

/*--------------------------------------------------media query for Shop Accordion  -----------------------------------------------------*/
@media only screen and (max-width: 768px)
{
    .shop .left-col, .shop .right-col{
        width: 100%;
        padding: 0;
    }

    
/*--------------------------------------------------media query for Shop Accordion End-----------------------------------------------------*/

/*--------------------------------------------------media query for Shop Grid List  -----------------------------------------------------*/
    .shop-grid-control{
        margin-top: 50px;
    }
    .shop-grid .col-4{
        min-width: 250px;
    }
}
@media only screen and (max-width: 550px)
{
    .list-view .product-wrap{
        display: block;
    }
}
@media only screen and (max-width: 500px)
{
    .grid-control-left{
        justify-content: center;
    }
    .shop .rightside-container .shop-grid-control {
        display: block;
        text-align: center;
     }
}
@media only screen and (max-width: 350px)
{
    .grid-control-right{
        display: block;
    }
    .button-container{
        margin-bottom: 20px;
    }
}
/*--------------------------------------------------media query for Shop Grid End  -----------------------------------------------------*/

/*--------------------------------------------------media query for Product Review Tab -----------------------------------------------------*/
@media only screen and (max-width: 500px)
{
    .customer-review{
        display: block;
    }
    #reviewForm .input-field{
        flex-basis: 100%;
    }
}
/*--------------------------------------------------media query for Product Review Tab -----------------------------------------------------*/

/*--------------------------------------------------media query for Footer  -----------------------------------------------------*/
@media only screen and (max-width: 549px)
{
    .footer .row {
        display: block;
    }
    .footer-col-1 {
        text-align: center;
    }
}

/*--------------------------------------------------Deal of the Week-----------------------------------------------------*/
@media only screen and (max-width: 759px)
{
    .deal-week .col-2{
        flex-basis: 100%;
    }
}

/*--------------------------------------------------Testing Animation -----------------------------------------------------*/

.banner .owl-item.active h1{
    animation: fadeInDown ease 1s;
}



